extend ../layout

append head
  link(rel='stylesheet', href='/css/jquery.Jcrop.min.css')
  script(src='/js/jquery.Jcrop.min.js')
  script(src='/js/game/new.js')

append body
  .container
    // h1 创建新条目
    .col-lg-8
      p 请认真填写以下描述，如创建成功，以下描述会直接展示在新条目的页面上。
      form.form-horizontal(action='/game/create', method='post', enctype='multipart/form-data', role='form')
        .form-group
          label.control-label.col-lg-2(for='platform') 平台
          .col-lg-3
            select.form-control
              each platform in platforms
                option #{ platform }
        .form-group
          label.control-label.col-lg-2(for='name') 名称
          .col-lg-4
            input#name.form-control(name='name', type='text')
        .form-group
          label.control-label.col-lg-2(for='developer') 开发者
          .col-lg-4
            input#developer.form-control(name='developer', type='text', placeholder='选填')
        .form-group
          label.control-label.col-lg-2(for='releaseDate') 发行日期
          .col-lg-4
            input#releaseDate.form-control(name='releaseDate', type='text', placeholder='选填')
        .form-group
          label.control-label.col-lg-2(for='description') 介绍
          .col-lg-8
            p.help-block 介绍是条目的完整说明，它可以帮助其他人快速了解这个游戏
            textarea.form-control(name='description', rows='5')
        .form-group
          label.control-label.col-lg-2(for='cover') 图标
          .col-lg-8
            p.help-block 可选，请不要上传带有水印的图标。
            .row
              .col-lg-4
                img#cover-img(alt='cover-img', style='width: 128px')
              .col-lg-8
                .preview-panel
                  .preview-container(style='width: 128px; overflow: hidden')
                    img#cover-img-final(alt='cover-img-final', style='width: 128px')
            input#cover.imgUpload(type='file')
        .form-group
          .col-lg-offset-2.col-lg-4
            button.btn.btn-primary(type='submit') 好了，提交
